@font-face {
    font-family: darkcastle;
    src: url(fonts/darkcastle/Darkcastle_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: midnight-blackfire ;
    src: url(fonts/midnight-blackfire/Midnight\ Blackfire.otf);
}

@font-face {
    font-family: miguel-de-northern;
    src: url(fonts/miguel-de-northern/Miguel\ De\ Northern.ttf);
}

@font-face {
    font-family: witcher-kinight;
    src: url(fonts/witcher-kinight/Witcher\ Knight.ttf);
}

@font-face {
    font-family: rich;
    src: url(fonts/rich/rich.otf);
}

/* ------------------------------------------------------------------------------------------------- */

body {
    font-family: sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #f0ffff;
}

section{
    margin-left: -20px;
}

h1 {
    font-size: 6em;
    text-align: center;
    /* color: #ff9100; */
    color: #5dc7c7;
    font-family: rich ;
    background-color: #000000;

}


/* O pseudoelemento before(antes) cria um elemento "antes" do h1 */
/* h1::before {
    content: "Tema:";
    color: #070706;
} */

header{
    margin-top: -42.80px;
    padding-top: 20px;
    background-color: #000000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

nav ul li {
    margin: 0 85px;
}

nav ul li a {
    text-decoration: none;
    color: #f0f8ff;
    background-color: #070706;
    padding: 10px;
    border-radius: 8px;
    border: solid #5dc7c7;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 800;
}

nav ul li a:hover {
    color: #000000;
    background-color: #b5b5b5fd;
    border: #070706;
    border: solid #f78c00;
}

nav ul li a:active {
    background-color: #ffee00;
    color: #070706;
}

nav ul li a:visited {
    background-color: #6a0b64;
}

h2 {
    font-size: 7em;
    text-align: center;
    margin-bottom: 0px;
    font-family: miguel-de-northern;
    color: #f78c00;
}

p {
    font-size: 2em;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
}


.paragrafo::first-letter {
    color: #ff9100;
    font-weight: 900;
    font-size: 2em;
}

.paragrafo::selection {
    background-color: #070706;
    color: #f0ffff;
}

.container {
    margin: 50px 30px;
    display: flex;
    /* flex-direction: column; */
}

.mediaC{
    flex-direction: row-reverse;
}

.vertical {
    height: 370px;
}

.horizontal {
    height: 370px;
    width: 600px;
}

.imagem{
    border: 4mm ridge #000000;
}



.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 400px );  
    gap: 10px; 
    padding: 10px;
}


.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.footer {
    /* top | right | bottom | left */
    margin: 20px 0px 2px 0px;
    font-size: 1.2em;
}

/* --------------------------------------------------------------------------------------- */

@media(max-width:768px) {
    
    nav ul {
        justify-content: space-around;
        align-items: center;
    }
    
    nav ul li {
        margin: -100px;
    }
    
    nav ul li a {
       font-size: 0.8em;
    }

    h1{
        font-size: 2.5em;
    }

    h2{
        font-size: 4em;
        margin-top: 20px;
        text-align: center;
        margin-left: 20%;
    }

    p{
        font-size: 1.3em;
        margin-left: 25%;
    }

    .container{
        flex-direction: column;
    }
    

    .vertical{
        width: 270px;
    }

    .horizontal{

    }

    section{
        margin-left: -20%;
    }

    img{
        width: 350px;
    }

    .imagem{
        margin-right: -45%;
    }

    .img1{
        /* display: none; */
    }

    .img2{
        display: none;
    }

    .img3{
        display: none;
    }

    .img4{
        display: none;
    }

    .card{
        grid-template-rows: repeat(1, 400px );  
        grid-template-columns: repeat(1, 1fr);
        /* margin-left: 3%; */
    }

}